.container {
  display: flex;
  justify-content: center;
}
button {
  background-color: #5C8984;
  color: white;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 12px;
  border-radius: 10px;
}
h1, h2 {
  font-family: 'Cormorant Infant', serif;
  color: #374259;
}
img {
  border: 2px solid #374259;
  padding: 5px;
}
body {
  background-color: #F2D8D8;
}